/* основа */
body {
	min-width: 1200px;
	padding: 0;
	margin: 0;
	background-color: #ffffff;
	font-family: 'Cuprum', Arial, sans-serif;
	font-size: 17px;
	line-height: 17px;
	font-weight: 700;
	color: #ffffff;
}

li {
	list-style-type: none;
}
ul {
	padding: 0;
	margin: 0;
}

img {
	max-width: 100%
	height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
}

.header-tools {
	width: 940px;
	font-family: 'Cuprum', Arial, sans-serif;
	font-size: 17px;
	line-height: 18px;
	font-weight: 400;
	color: #ffffff;
	background-color: #29354a;
}

.order,
.header-tools button,
.header-tools input {
	font-family: 'Cuprum', Arial, sans-serif;
	font-size: 17px;
	line-height: 18px;
	font-weight: 400;
	color: #ffffff;
	background-color: #29354a;
	text-decoration: none;
}

.header-tools button,
.header-tools input {
	border: 0;
}

.header-tools a:last-child {
	background-color: #63a63e;
}

.header-logo {
	font-family: 'Cuprum', Arial, sans-serif;
	font-size: 24px;
	line-height: 24px;
	font-weight: 400;
	color: #ffffff;
	background-color: #ee3643;
	text-decoration: none;
	text-transform: uppercase;
	box-shadow: 0px 5px #b52933;
}

.header-main {
	background-color: #f3f7f8;
	min-height: 278px;
}

.header-description {
	background-color: #f3f7f8;
	font-family: 'Cuprum', Arial, sans-serif;
	font-size: 16px;
	line-height: 23px;
	font-style: italic;
    font-weight: 400;
	color: #ee3643;
}

.header-adress {
	width: 270px;
	background-color: #f3f7f8;
	font-family: 'Cuprum', Arial, sans-serif;
	font-size: 14px;
	line-height: 24px;
    font-weight: 400;
	color: #32425c;
	margin-top: 8px;
}

.log-reg a {
	background-color: #ffffff;
	font-family: 'Cuprum', Arial, sans-serif;
	font-size: 21px;
	line-height: 18px;
    font-weight: 400;
	color: #000000;
	border: 0;
	text-decoration: none;
}

.navigation a {
	text-decoration: none;
	color: #ffffff;
}

.main-services-title {
	font-family: 'Cuprum', Arial, sans-serif;
	font-size: 24px;
	line-height: 30px;
    font-weight: 700;
	color: #ffffff;
	margin-left: 22px;
	margin-top: 20px;
	margin-bottom: 13px;
}

.services-materials {
	background-color: #ffbf47;	
}

.services-instrument {
	background-color: #3bbce3;	
}

.services-technic {
	background-color: #dc91d8;	
}

.services-sale {
	background-color: #8ed78f;	
}

.services-delivery {
	background-color: #ffc047;	
}

.main-services-extra {
	display: block;
	width: 135px;
	font-family: 'Cuprum', Arial, sans-serif;
	font-size: 14px;
	line-height: 18px;
    font-weight: 400;
	color: #ffffff;
	border: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: 25px;
	margin-top: 0px;
	margin-bottom: 22px;
	text-align: center;
	text-decoration: none;
	border-radius: 2px;
	background-color: rgba( 0, 0, 0, 0.1);
	text-transform: uppercase;
}

.new {
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 16px;
	line-height: 18px;
    font-weight: 400;
	color: #ffffff;
	background-color: #ff5357;
}

.popular-products-header {
	background-color: #f9f5f0;
}

.popular-products-title {
	font-family: 'Cuprum', Arial, sans-serif;
	font-size: 30px;
	line-height: 30px;
    font-weight: 400;
	color: #32425c;
	text-transform: uppercase;
	margin-top: 30px;
	margin-left: 28px;
}

.popular-products-button {
	display: block;
	width: 253px;
	margin-top: 25px;
	margin-right: 24px;
	margin-bottom: 26px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.site-button {
	font-family: 'Cuprum', Arial, sans-serif;
	font-size: 14px;
	line-height: 18px;
    font-weight: 400;
	color: #ffffff;
	background-color: #ee3643;
	text-decoration: none;
	text-transform: uppercase;
	border-radius: 2px;
	text-align: center;
}

.product-name {
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 18px;
	line-height: 20px;
    font-weight: 700;
	color: #000000;
}

.popular-makers-header {
	background-color: #f9f5f0;
}

.popular-makers-title {
	font-family: 'Cuprum', Arial, sans-serif;
	font-size: 30px;
	line-height: 30px;
    font-weight: 400;
	color: #32425c;
	text-transform: uppercase;
	margin-top: 30px;
	margin-left: 28px;
}

.popular-makers-button {
	display: block;
	width: 253px;
	margin-top: 25px;
	margin-right: 24px;
	margin-bottom: 26px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.maker {
	border: 1px solid #eaeaea;
	margin-bottom: 20px;
}

.services {
	background-color: #f4f7f9;
}

.services-title {
	font-family: 'Cuprum', Arial, sans-serif;
	font-size: 30px;
	line-height: 24px;
    font-weight: 400;
	color: #000000;
	text-transform: uppercase;
}

.services-discription {
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
    font-weight: 400;
	color: #000000;
}

.tab-description {
	width: 300px;
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
    font-weight: 400;
	color: #000000;
}

.tab-title {
	font-family: 'Cuprum', Arial, sans-serif;
	font-size: 36px;
	line-height: 24px;
    font-weight: 400;
	color: #32425c;
	text-transform: uppercase;
}

.services-list {
	width: 240px;
	font-family: 'Cuprum', Arial, sans-serif;
	font-size: 21px;
	line-height: 30px;
    font-weight: 700;
	color: #ffffff;
	background-color: #32425c;
}

.services-list li {
	border-top: 1px solid #4d637b;
}

.services-list li:first-child {
	color: #000000;
	background-color: #ffffff;
	border-top: 0px;
}

.about-us {
	background-color: #ffffff;
}

.about-us-title {
	font-family: 'Cuprum', Arial, sans-serif;
	font-size: 30px;
	line-height: 24px;
    font-weight: 400;
	color: #000000;
	text-transform: uppercase;
}

.about-us-text {
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
    font-weight: 400;
	color: #000000;
}

.about-us-list {
	font-family: 'Cuprum', Arial, sans-serif;
	font-size: 18px;
	line-height: 20px;
    font-weight: 400;
	color: #000000;
}

.about-us-list li {
	list-style-type: line;
}

.main-footer-top {
	background-color: #32425c;
}

.footer-contacts,
.footer-tel,
.footer-link {
	font-family: 'Cuprum', Arial, sans-serif;
	font-size: 17px;
	line-height: 18px;
	font-weight: 400;
	color: #ffffff;
	text-decoration: none;
}

.footer-contacts {
	margin-bottom: 50px;
	margin-top: 30px;
}

.footer-link {
	display: block;
}

.footer-logo-link {
	width: 220px;
	font-family: 'Cuprum', Arial, sans-serif;
	font-size: 30px;
	line-height: 30px;
	font-weight: 400;
	color: #ffffff;
	background-color: #ee3643;
	text-decoration: none;
	text-transform: uppercase;
	box-shadow: 0px 5px #b52933;
	text-align: center;
}

.footer-logo {
	margin: 16.5px 0px;
}

.footer-menu-bottom a{
	color: #ffd180;	
}
.main-footer-bottom {
	background-color: #293449;
}

.footer-copyright,
.main-footer-bottom span,
.feedback-link,
.site-makers-link {
	font-family: 'Cuprum', Arial, sans-serif;
	font-size: 16px;
	line-height: 18px;
	font-weight: 400;
	color: #ffffff;
	text-decoration: none;
}

.feedback-link,
.site-makers-link {
	color: #ffd180;	
}

.footer-sozial a {
	background-color: #212a3a;
}

.header-logo:hover {
	background-color: #ca2c37;
	box-shadow: 0px 5px #9a212a;
}

.header-logo:active {
	background-color: #ba2732;
	box-shadow: 0px 5px #8e1e26;
}

.bookmarks:hover,
.cart:hover {
	background-color: #212a3a;
}

.bookmarks:active,
.cart:active {
	background-color: #161d29;
}

header .order:hover {
	background-color: #5fbb2d;
}

header .order:active {
	background-color: #518534;
}

.input-search:hover {
	color: #000000;
	background-color: #212a3a;
}

.input-search:focus {
	color: #000000;
	background-color: #ffffff;
}

.log-reg a:hover {
	color: #ee3643;
}

.log-in a:hover::before {
  opacity: 1;
}

.log-in a:active::before {
  opacity: 0.3;
}

.log-reg a:active {
	color: rgba(0, 0, 0, 0.3);
}

.header-menu a:hover {
	background-color: #293449;
}

.header-menu a:active {
	background-color: #1d2739;
	color: rgba(255, 255, 255, 0.5);
	box-shadow: 0px 5px #1d2739;
}

.main-services-extra:hover {
	background-color: rgba(0, 0, 0, 0.2);
}

.main-services-extra:active {
	background-color: rgba(0, 0, 0, 0.3);
}

.footer-menu-top a:hover,
.footer-menu-bottom a:hover,
.feedback-link:hover,
.site-makers-link:hover {
	text-decoration: underline;
}

.footer-menu-top a:active {
	color: rgba(255, 255, 255, 0.5);
}

.footer-menu-bottom a:active {
	color: rgba(255, 218, 150, 0.5);
}

.feedback-link:active,
.site-makers-link:active {
	color: #ee3643;
	text-decoration: none;
}

.footer-sozial a:hover,
.footer-sozial a:active {
	background-color: #ee3643;
}

.site-button:hover {
	background-color: #ca2c37;
}

.site-button:active {
	background-color: #ba2732;
}


/* Каталог */
.bread-crumbs-item a,
.bread-crumbs-item span{
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;
	color: #000000;
	text-decoration: none;
	text-transform: uppercase;
}
	
.catalog-title {
	font-family: 'Cuprum', Arial, sans-serif;
	font-size: 30px;
	line-height: 30px;
    font-weight: 400;
	color: #32425c;
	background-color: #f2f6f8;	
	text-transform: uppercase;
}

.filter-title,
.sorting-item a {
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
    font-weight: 400;
	color: #32425c;
	background-color: #f7f3ec;	
	text-transform: uppercase;
	text-decoration: none;
}

.filter-price label,
.makers-title,
.power-title {
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 17px;
	line-height: 30px;
    font-weight: 700;
	color: #000000;
	text-transform: uppercase;
}

.filter-price output {
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 17px;
	line-height: 18px;
    font-weight: 400;
	color: #000000;
	text-transform: uppercase;
	background-color: #f7f3ec;
}

.makers-name label {
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 15px;
	line-height: 20px;
    font-weight: 400;
	color: #000000;
	text-transform: uppercase;
}

.power-list label {
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 14px;
	line-height: 20px;
    font-weight: 400;
	color: #000000;
	text-transform: uppercase;
}

.show-filter {
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
    font-weight: 400;
	color: #000000;
	background-color: #ffffff;
	text-transform: uppercase;
	border: 1px solid #e5e5e5;
}

.sorting {
	background-color: #f7f3ec;
}

.sorting-title {
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
    font-weight: 400;
	color: #000000;
	text-transform: uppercase;
}

.sorting-item a:not(.active){
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
    font-weight: 400;
	color: rgba(0, 0, 0, 0.3);
	text-transform: uppercase;
	text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-color: #ee3643;
}

.sorting-item .active {
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
    font-weight: 400;
	color: #ee3643;
	text-transform: uppercase;
}

.buy-button {
	font-family: 'Cuprum', Arial, sans-serif;
	font-size: 14px;
	line-height: 18px;
    font-weight: 400;
	color: #ffffff;
	background-color: #63a63e;
	border: 0;
	text-transform: uppercase;
}

.to-bookmarks-button {
	font-family: 'Cuprum', Arial, sans-serif;
	font-size: 14px;
	line-height: 18px;
    font-weight: 400;
	color: #32425c;
	background-color: #ffffff;
	border: 2px solid #63a63e;
	text-transform: uppercase;
}

.pagenator-number .active {
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
    font-weight: 400;
	color: #ffffff;
	background-color: #ee3643;
	border: 0;
	text-transform: uppercase;
}

.pagenator-number a:not(.active),
.next-page-button  {
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
    font-weight: 400;
	color: #000000;
	background-color: #ffffff;
	border: 1px solid #e5e5e5;
	text-transform: uppercase;
	text-decoration: none;
}

.about-perforators-block {
	background-color: #f2f6f8;
}

.about-perforators-title {
	font-family: 'Cuprum', Arial, sans-serif;
	font-size: 30px;
	line-height: 24px;
    font-weight: 400;
	color: #000000;
	text-transform: uppercase;
}

.about-perforators-text {
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
    font-weight: 400;
	color: #000000;
}

.buy-button:hover {
	background-color: #5fbb2d;
}

.buy-button:active {
	background-color: #518534;
}

.to-bookmarks-button:hover {
	border: 2px solid #32425c;
}

.to-bookmarks-button:active {
	border: 2px solid rgba(50, 66, 92, 0.3);
	color: rgba(50, 66, 92, 0.3);
}

.sorting-item a:hover {
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
    font-weight: 400;
	color: #000000;
	text-transform: uppercase;
	text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-color: #ee3643;
}

.sorting-item a:focus {
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
    font-weight: 400;
	color: #ee3643;
	text-transform: uppercase;
}

.pagenator-number a:hover,
.pagenator-next a:hover {
	border: 1px solid #bdc6ca;
}

.pagenator-number a:active,
.pagenator-next a:active {
	border: 1px solid #ee3643;
}


/*!!FLEX!!*/ 
.container {
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;
}

.header-top {
	display: flex;
	justify-content: center;
	background-color: #29354a;
}

.header-top .container {
	display: flex;
	justify-content: space-between;
	background-color: #29354a;
}

.header-tools {
	min-height: 42px;
	display: flex;
	justify-content: space-between;
}

.header-logo {
	width: 220px;
	text-align: center;
	padding: 10px 0;
}

.input-search {
	width: 270px;
	padding-left: 50px;
	position: relative;
}

.input-search::before {
  content: "";
  position: absolute;
  width: 22px;
  height: 22px;
  background-image: url(../img/icon-search.svg);
  background-repeat: no-repeat;
  background-color: black;
}

::-webkit-input-placeholder { color: white; }

.bookmarks,
.cart {
	width: 150px;
	position: relative;
}

.bookmarks::before {
  content: "";
  position: absolute;
  width: 22px;
  height: 22px;
  left: 18px;
  background-image: url(../img/icon-bookmark.svg);
  background-repeat: no-repeat;
  background-color: #293449;
  opacity: 0.3;
}

.bookmarks:hover::before {
	background-color: #212a3a;
	opacity: 1;
}

.bookmarks:active::before {
	background-color: #161d29;
	opacity: 0.5;
}

.cart::before {
  content: "";
  position: absolute;
  width: 22px;
  height: 22px;
  left: 18px;
  background-image: url(../img/icon-cart.svg);
  background-repeat: no-repeat;
  background-color: #293449;
  opacity: 0.3;
}

.cart:hover::before {
	background-color: #212a3a;
	opacity: 1;
}

.cart:active::before {
	background-color: #161d29;
	opacity: 0.5;
}

.bookmarks,
.cart {
	padding-left: 44px; 
	position: relative;
	padding-right: 27px;
}

.order {
	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 20px;
	padding-right: 22px;
	vertical-align: middle;
}

/*header-center*/
.header-center {
	display: flex;
	justify-content: center;	
	margin-bottom: 24px;
}

.header-center .container {
	display: flex;
	justify-content: space-between;

}

.header-description {
	width: 197px;
	margin-left: 51px;
	margin-top: 48px;
}

.header-contacts {
	display: flex;
	flex-direction: column;
	width: 270px;
	height: auto;
	margin-top: 46px;
}

.header-tel {
	font-family: 'Cuprum', Arial, sans-serif;
	font-size: 21px;
	line-height: 18px;
    font-weight: 400;
	color: #ee3643;
    padding-bottom: 10.5px;
    padding-top: 10.5px;
	padding-left: 70px;
	padding-right: 42px;
	border: 3px solid #ffffff;
	text-decoration: none;
	margin-bottom: 5px;
	position: relative;
}

.header-tel::before {
  content: "";
  position: absolute;
  width: 22px;
  height: 22px;
  left: 15px;
  background-image: url(../img/icon-phone.svg);
  background-repeat: no-repeat;
  background-color: #f1f5f7;
  opacity: 0.3;
}

.header-adress {
	text-align: center;
	margin-top: 0px;
}

.log-reg {
	display: flex;
	justify-content: space-between;
	width: 281px;
	margin-top: 46px;
}

.log-in a {
	display: block;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 47px;
	padding-right: 26px;
	position: relative;
}

.log-in a::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 17px;
  left: 14px;
  top: 12px;
  background-image: url(../img/icon-login.svg);
  background-repeat: no-repeat;
  background-color: #ffffff;
  opacity: 0.3;
}

.registration a{
	display: block;
	padding: 12px 24px;
}

/*header-bottom*/ 
.navigation {
	display: flex;
	justify-content: center;
	font-family: 'Cuprum', Arial, sans-serif;
	font-size: 17px;
	line-height: 17px;
    font-weight: 400;
	color: #ffffff;
}

.navigation .container {
	display: flex;
	justify-content: space-between;
}

.header-menu {
	width: 940px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	background-color: #32425c;
	box-shadow: 0px 5px #293449;
	padding-left: 21px;
	padding-right: 24px;
}

.header-menu a{
	display: block;
	align-self: center;
	padding: 19px 30px;
	vertical-align: middle;
}

/*main-services*/   

.main-services {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 59px;
}

.main-services .container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.main-services .container div:not(:last-child) {
	margin-bottom: 20px;
}

.services-materials,
.services-instrument,
.services-technic,
.services-sale,
.services-delivery {
	width: 300px;	
	position: relative;
}

.services-materials::befor {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  width:60px;
  height:60px;
  background-image: url(../img/new.png);
  background-repeat: no-repeat;
  background-color: #ffbf47;
}

.services-materials::after {
  content: "";
  position: absolute;
  top: 31px;
  right: 43px;
  width:44px;
  height:65px;
  background-image: url(../img/icon-1.svg);
  background-repeat: no-repeat;
  background-color: #ffbf47;
}

.services-instrument::after {
  content: "";
  position: absolute;
  top: 33px;
  right: 28px;
  width:75px;
  height:61px;
  background-image: url(../img/icon-2.svg);
  background-repeat: no-repeat;
  background-color: #3bbce3;
}

.services-technic::after {
  content: "";
  position: absolute;
  top: 31px;
  right: 31px;
  width:78px;
  height:62px;
  background-image: url(../img/icon-3.svg);
  background-repeat: no-repeat;
  background-color: #dc91d8;
}

.services-sale::after {
  content: "";
  position: absolute;
  top: 26px;
  right: 45px;
  width:59px;
  height:72px;
  background-image: url(../img/icon-4.svg);
  background-repeat: no-repeat;
  background-color: #8ed78f;
}

.services-delivery::after {
  content: "";
  position: absolute;
  top: 32px;
  right: 31px;
  width:78px;
  height:63px;
  background-image: url(../img/icon-5.svg);
  background-repeat: no-repeat;
  background-color: #ffc047;
}

.services-combination {
	display: flex;
	flex-direction: column;
}

.services-slider {   
	width: 620px;
	height: 266px;
	background-color: black;
	margin-right: 20px;
}



/*popular-products*/

.popular-products {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 33px;
}

.popular-products .container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.popular-products-header {
	display: flex;
	justify-content: space-between;
	min-width: 940px;
	height: 90px;
	margin-bottom: 20px;
}

.product {
	width:220px;
	height:318px;
}

/*popular-makers*/

.popular-makers {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 85px;
}

.popular-makers .container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.popular-makers-header {
	display: flex;
	justify-content: space-between;
	height: 90px;
	min-width: 940px;
	margin-bottom: 20px;
}



.popular-makers-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

/*services*/

.services {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.services .container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 522px;
}

.services-top {
	display: flex;
}

.services-bottom {
	display: flex;
	justify-content: space-between;
}

/*about-us*/

.about-us {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.about-us .container {
	display: flex;
	justify-content: space-between;
	margin-top: 80px;
	margin-bottom: 85px;
}

.about-us-left {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 540px;
}

.about-us-right {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 300px;
}

.about-us-list {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

/* footer*/

.main-footer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	flex-direction: column;
}

.main-footer-top .container {
	display: flex;
	flex-wrap: wrap;
	background-color: #32425c;
	justify-content: space-between;
}

.main-footer-bottom .container {
	display: flex;
	flex-wrap: wrap;
	background-color: #293449;
	justify-content: space-between;
}

.main-footer-top {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	background-color: #32425c;
}

.footer-logo-menu {
	width: 940px;
	display: flex;
	justify-content: space-between;
}

.footer-contacts-menu {
	width: 940px;
	display: flex;
	justify-content: space-between;
}

.footer-menu-top {
	width: 570px;
	display: flex;
	justify-content: space-between;
	margin-top: 39px;
	margin-bottom: 40px;
}

.footer-menu-bottom {
	width: 570px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 0px;
}

.main-footer-bottom {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.footer-sozial {
	width: 132px;
	display: flex;
	justify-content: space-between;
}



/*catalog-flex*/

/*top*/
.bread-crumbs-block {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.bread-crumbs .container {
	display: flex;
	justify-content: space-between;
}

.bread-crumbs {
	display: flex;
	justify-content: space-between;
	min-height: 60px;
	width: 380px;
}

.bread-crumbs-item {
	align-self: center;
}

/*main*/
.sorting {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.sorting .container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

/*filter*/

.catalog-main-block .container {
	display: flex;
	justify-content: space-between;
}

.hammerdrills-header .container {
	display: flex;
	flex-wrap: wrap;	
	background-color: #f2f6f8;
	padding: 0;
}

.hammerdrills-header {
	display: flex;
	justify-content: center;
}

.main-info-catalog {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 20px;
}

.filter {
	height: 746px;
}

.filter-header {
	height: 38px;
	width: 220px;
	background-color: #f7f3ec;
}

.filter-form {
	width: 220px;	
	height: 700px;
}

.sorting {
	display: flex;
	justify-content: space-between;
	width: 700px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.sorting-product {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.products {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 700px;
}

.sorting-item-list {
	width: 460px;
	display: flex;
	align-self: center;
	justify-content: space-between;
}

.pagenator-list {
	margin-top: 35px;
	margin-bottom: 55px;
	display: flex;
	justify-content: space-between;
	width: 284px;
}

.product {
	margin-bottom: 20px;
}

/*about-perf*/

.about-perforators {
	background-color: #f2f6f8;
}

.about-perforators .container {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

 /*catalog-list*/
}
.catalog-items{
    width:700px;
    margin:20px auto;
}
.catalog-items .catalog-row{
    margin-left:-20px;
}
.catalog-item{
    position:relative;
    display:inline-block;
    width:218px;
    margin-left:20px;
    margin-bottom:20px;
    border:1px solid #ccc;
    line-height:20px;
    font-weight:bold;
    text-align:center;
}
.catalog-items{
    font-size:0;
}
.catalog-item{
    font-size:16px;
}
.catalog-item .flag{
    position:absolute;
    top:-1px;
    right:-1px;
    width:60px;
    height:60px;
    text-indent:-1000px;
    overflow:hidden;
     z-index:20;
}
.catalog-item .flag-new{
    background:url(../img/new.png) no-repeat 0 0;
}

.services-materials .flag{
    position:absolute;
    top: 0px;
    right: 0px;
    width:60px;
    height:60px;
    text-indent:-1000px;
    overflow:hidden;
     z-index:20;
}
.services-materials .flag-new{
    background:url(../img/new.png) no-repeat 0 0;
}

.catalog-item .actions{
    position:absolute;
    top:0;
    left:0;
    width:218px;
    height:88px;
    padding:40px 0;
    background-color:rgba(255,255,255,0.9);
    z-index:10;
}
.catalog-item .actions .buy,
.catalog-item .actions .to-bookmark{
    display:block;
    width:129px;
    margin:0 auto;
    margin-bottom:7px;
    padding:7px 0;
    border:3px solid #63a63e;
    border-bottom-color:#367315; 
    background-color:#63a63e;
    color:white;
    font-size:14px;
    font-weight:normal;
    font-family:"Cuprum", sans-serif;
    line-height:18px;
    text-decoration:none;
    text-transform:uppercase;    
    border-radius:3px;
}
.catalog-item .actions .to-bookmark{
    color:#32425c;
    background:white;
    border-bottom-color:#63a63e;
}
.catalog-item .actions{
    display:none;
}
.catalog-item:hover .actions{
    display:block;
}

.catalog-item .product-name{
    min-height:40px;
    padding:0 25px;
    margin-top:10px;
    margin-bottom:15px;    
}
.catalog-item .discount{
    min-height:17.27px;
    margin-top:15px;
    margin-bottom:10px;
    font-family: 'PT Sans', Arial, sans-serif;
	font-size: 17px;
	line-height: 18px;
    font-weight: 700;
	color: #a9a9a9;
	text-decoration: line-through;
}
.catalog-item .price{
    position:relative;
    width:80px;
    margin:10px auto;
    margin-bottom:20px;
    padding:10px 30px;
    font-family: 'PT Sans', Arial, sans-serif;
	font-size: 17px;
	line-height: 18px;
    font-weight: 700;
	color: #ffffff;
	background-color: #ee3643;
    border-radius:3px;
}
.catalog-item .price:after{
    content:"";
    position:absolute;
    top:0;
    right:-20px;
    width:0;
    height:0;
    border:19px solid white;
    border-left-color:#ee3643;
}

.catalog-item .image{
    width:218px;
    height:168px;
}
.catalog-item .image img{
    max-width:100%;
}