/* основа */
body {
	min-width: 1200px;
	min-height: 3151px;
	padding: 0;
	margin: 0;
	background-color: #ffffff;
	font-family: 'Cuprum', Arial, sans-serif;
	font-size: 17px;
	line-height: 17px;
	font-weight: 700;
	color: #ffffff;
}

li {
	list-style-type: none;
}
ul {
	padding: 0;
	margin: 0;
}

.header-tools {
	font-family: 'Cuprum', Arial, sans-serif;
	font-size: 17px;
	line-height: 18px;
	font-weight: 400;
	color: #ffffff;
	background-color: #29354a;
}

.order,
.header-tools button,
.header-tools input {
	font-family: 'Cuprum', Arial, sans-serif;
	font-size: 17px;
	line-height: 18px;
	font-weight: 400;
	color: #ffffff;
	background-color: #29354a;
	text-decoration: none;
}

.header-tools button,
.header-tools input {
	border: 0;
}

.header-tools a:last-child {
	background-color: #63a63e;
}

.header-logo {
	font-family: 'Cuprum', Arial, sans-serif;
	font-size: 24px;
	line-height: 24px;
	font-weight: 400;
	color: #ffffff;
	background-color: #ee3643;
	text-decoration: none;
	text-transform: uppercase;
}

.header-main {
	background-color: #f3f7f8;	
}

.header-description {
	background-color: #f3f7f8;
	font-family: 'Cuprum', Arial, sans-serif;
	font-size: 16px;
	line-height: 23px;
	font-style: italic;
    font-weight: 400;
	color: #ee3643;
}

.header-contacts a {
	background-color: #f3f7f8;
	font-family: 'Cuprum', Arial, sans-serif;
	font-size: 21px;
	line-height: 18px;
    font-weight: 700;
	color: #ee3643;
	border: 2px solid #ffffff;
	text-decoration: none;
}

.header-adress {
	background-color: #f3f7f8;
	font-family: 'Cuprum', Arial, sans-serif;
	font-size: 14px;
	line-height: 24px;
    font-weight: 700;
	color: #32425c;
}

.log-reg a {
	background-color: #ffffff;
	font-family: 'Cuprum', Arial, sans-serif;
	font-size: 21px;
	line-height: 18px;
    font-weight: 700;
	color: #000000;
	border: 0;
	text-decoration: none;
}

nav {
	background-color: #32425c;
}

.navigation a {
	text-decoration: none;
	color: #ffffff;
}

.main-services-title {
	font-family: 'Cuprum', Arial, sans-serif;
	font-size: 24px;
	line-height: 30px;
    font-weight: 700;
	color: #ffffff;
}

.services-materials {
	background-color: #ffbf47;	
}

.services-instrument {
	background-color: #3bbce3;	
}

.services-technic {
	background-color: #dc91d8;	
}

.services-sale {
	background-color: #8ed78f;	
}

.services-delivery {
	background-color: #ffc047;	
}

.main-services-extra {
	font-family: 'Cuprum', Arial, sans-serif;
	font-size: 14px;
	line-height: 18px;
    font-weight: 400;
	color: #ffffff;
	border: 0;
	text-decoration: none;
	background-color: rgba( 0, 0, 0, 0.1);
	text-transform: uppercase;
}

.new {
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 16px;
	line-height: 18px;
    font-weight: 400;
	color: #ffffff;
	background-color: #ff5357;
}

.popular-products-header {
	background-color: #f9f5f0;
}

.popular-products-title {
	font-family: 'Cuprum', Arial, sans-serif;
	font-size: 30px;
	line-height: 30px;
    font-weight: 400;
	color: #32425c;
	text-transform: uppercase;
}

.site-button {
	font-family: 'Cuprum', Arial, sans-serif;
	font-size: 14px;
	line-height: 18px;
    font-weight: 400;
	color: #ffffff;
	background-color: #ee3643;
	text-decoration: none;
	text-transform: uppercase;
}

.product {
	border: 1px solid #eaeaea;
}

.product-link {
	text-decoration: none;
}

.product-name {
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 18px;
	line-height: 20px;
    font-weight: 700;
	color: #000000;
}

.price-old {
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 17px;
	line-height: 18px;
    font-weight: 700;
	color: #a9a9a9;
	text-decoration: line-through;
}

.price-new {
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 17px;
	line-height: 18px;
    font-weight: 700;
	color: #ffffff;
	background-color: #ee3643;
}

.popular-makers-header {
	background-color: #f9f5f0;
}

.popular-makers-title {
	font-family: 'Cuprum', Arial, sans-serif;
	font-size: 30px;
	line-height: 30px;
    font-weight: 400;
	color: #32425c;
	text-transform: uppercase;
}

.maker {
	border: 1px solid #eaeaea;
}

.services {
	background-color: #f4f7f9;
}

.services-title {
	font-family: 'Cuprum', Arial, sans-serif;
	font-size: 30px;
	line-height: 24px;
    font-weight: 400;
	color: #000000;
	text-transform: uppercase;
}

.services-discription {
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
    font-weight: 400;
	color: #000000;
}

.services-list {
	font-family: 'Cuprum', Arial, sans-serif;
	font-size: 21px;
	line-height: 30px;
    font-weight: 700;
	color: #ffffff;
	background-color: #32425c;
}

.services-list li {
	border-top: 1px solid #4d637b;
}

.services-list li:first-child {
	color: #000000;
	background-color: #ffffff;
	border-top: 0px;
}

.about-us {
	background-color: #ffffff;
}

.about-us-title {
	font-family: 'Cuprum', Arial, sans-serif;
	font-size: 30px;
	line-height: 24px;
    font-weight: 400;
	color: #000000;
	text-transform: uppercase;
}

.about-us-text {
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
    font-weight: 400;
	color: #000000;
}

.about-us-list {
	font-family: 'Cuprum', Arial, sans-serif;
	font-size: 18px;
	line-height: 20px;
    font-weight: 400;
	color: #000000;
}

.about-us-list li {
	list-style-type: line;
}

.main-footer-top {
	background-color: #32425c;
}

.footer-logo {
	font-family: 'Cuprum', Arial, sans-serif;
	font-size: 30px;
	line-height: 30px;
	font-weight: 400;
	color: #ffffff;
	background-color: #ee3643;
	text-decoration: none;
	text-transform: uppercase;
}

.footer-contacts,
.footer-tel,
.footer-link,
.footer-logo-link {
	font-family: 'Cuprum', Arial, sans-serif;
	font-size: 17px;
	line-height: 18px;
	font-weight: 400;
	color: #ffffff;
	text-decoration: none;	
}

.footer-menu-bottom a{
	color: #ffd180;	
}
.main-footer-bottom {
	background-color: #293449;
}

.footer-copyright,
.main-footer-bottom span,
.feedback-link,
.site-makers-link {
	font-family: 'Cuprum', Arial, sans-serif;
	font-size: 16px;
	line-height: 18px;
	font-weight: 400;
	color: #ffffff;
	text-decoration: none;
}

.feedback-link,
.site-makers-link {
	color: #ffd180;	
}

.footer-sozial a {
	background-color: #212a3a;
}

.header-logo:hover {
	background-color: #ca2c37;
}

.header-logo:active {
	background-color: #ba2732;
}

.bookmarks:hover,
.cart:hover {
	background-color: #212a3a;
}

.bookmarks:active,
.cart:active {
	background-color: #161d29;
}

header .order:hover {
	background-color: #5fbb2d;
}

header .order:active {
	background-color: #518534;
}

#search:focus {
	color: #000000;
	background-color: #ffffff;
}

.log-reg a:hover {
	color: #ee3643;
}

.log-reg a:active {
	color: rgba(0, 0, 0, 0.3);
}

.header-menu a:hover {
	background-color: #293449;
}

.header-menu a:active {
	background-color: #1d2739;
	color: rgba(255, 255, 255, 0.5);
}

.main-services-extra:hover {
	background-color: rgba(0, 0, 0, 0.2);
}

.main-services-extra:active {
	background-color: rgba(0, 0, 0, 0.3);
}

.footer-menu-top a:hover,
.footer-menu-bottom a:hover,
.feedback-link:hover,
.site-makers-link:hover {
	text-decoration: underline;
}

.footer-menu-top a:active {
	color: rgba(255, 255, 255, 0.5);
}

.footer-menu-bottom a:active {
	color: rgba(255, 218, 150, 0.5);
}

.feedback-link:active,
.site-makers-link:active {
	color: #ee3643;
	text-decoration: none;
}

.footer-sozial a:hover,
.footer-sozial a:active {
	background-color: #ee3643;
}

.site-button:hover {
	background-color: #ca2c37;
}

.site-button:active {
	background-color: #ba2732;
}


/* Каталог */
.bread-crumbs-item a,
.bread-crumbs-item span{
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;
	color: #000000;
	text-decoration: none;
	text-transform: uppercase;
}
	
.catalog-title {
	font-family: 'Cuprum', Arial, sans-serif;
	font-size: 30px;
	line-height: 30px;
    font-weight: 400;
	color: #32425c;
	background-color: #f2f6f8;	
	text-transform: uppercase;
}

.filter-title,
.sorting-item a {
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
    font-weight: 400;
	color: #32425c;
	background-color: #f7f3ec;	
	text-transform: uppercase;
	text-decoration: none;
}

.filter-price label,
.makers-title,
.power-title {
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 17px;
	line-height: 30px;
    font-weight: 700;
	color: #000000;
	text-transform: uppercase;
}

.filter-price output {
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 17px;
	line-height: 18px;
    font-weight: 400;
	color: #000000;
	text-transform: uppercase;
	background-color: #f7f3ec;
}

.makers-name label {
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 15px;
	line-height: 20px;
    font-weight: 400;
	color: #000000;
	text-transform: uppercase;
}

.power-list label {
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 14px;
	line-height: 20px;
    font-weight: 400;
	color: #000000;
	text-transform: uppercase;
}

.show-filter {
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
    font-weight: 400;
	color: #000000;
	background-color: #ffffff;
	text-transform: uppercase;
	border: 1px solid #e5e5e5;
}

.sorting {
	background-color: #f7f3ec;
}

.sorting-title {
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
    font-weight: 400;
	color: #000000;
	text-transform: uppercase;
}

.sorting-item a:not(.active){
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
    font-weight: 400;
	color: rgba(0, 0, 0, 0.3);
	text-transform: uppercase;
	text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-color: #ee3643;
}

.sorting-item .active {
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
    font-weight: 400;
	color: #ee3643;
	text-transform: uppercase;
}

.buy-button {
	font-family: 'Cuprum', Arial, sans-serif;
	font-size: 14px;
	line-height: 18px;
    font-weight: 400;
	color: #ffffff;
	background-color: #63a63e;
	border: 0;
	text-transform: uppercase;
}

.to-bookmarks-button {
	font-family: 'Cuprum', Arial, sans-serif;
	font-size: 14px;
	line-height: 18px;
    font-weight: 400;
	color: #32425c;
	background-color: #ffffff;
	border: 2px solid #63a63e;
	text-transform: uppercase;
}

.pagenator-number .active {
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
    font-weight: 400;
	color: #ffffff;
	background-color: #ee3643;
	border: 0;
	text-transform: uppercase;
}

.pagenator-number a:not(.active),
.next-page-button  {
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
    font-weight: 400;
	color: #000000;
	background-color: #ffffff;
	border: 1px solid #e5e5e5;
	text-transform: uppercase;
	text-decoration: none;
}

.about-perforators-block {
	background-color: #f2f6f8;
}

.about-perforators-title {
	font-family: 'Cuprum', Arial, sans-serif;
	font-size: 30px;
	line-height: 24px;
    font-weight: 400;
	color: #000000;
	text-transform: uppercase;
}

.about-perforators-text {
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
    font-weight: 400;
	color: #000000;
}

.buy-button:hover {
	background-color: #5fbb2d;
}

.buy-button:active {
	background-color: #518534;
}

.to-bookmarks-button:hover {
	border: 2px solid #32425c;
}

.to-bookmarks-button:active {
	border: 2px solid rgba(50, 66, 92, 0.3);
	color: rgba(50, 66, 92, 0.3);
}

.sorting-item a:hover {
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
    font-weight: 400;
	color: #000000;
	text-transform: uppercase;
	text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-color: #ee3643;
}

.sorting-item a:focus {
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
    font-weight: 400;
	color: #ee3643;
	text-transform: uppercase;
}

.pagenator-number a:hover,
.pagenator-next a:hover {
	border: 1px solid #bdc6ca;
}

.pagenator-number a:active,
.pagenator-next a:active {
	border: 1px solid #ee3643;
}


/*!!FLEX!!*/ 
/*header-top*/
.main-header {
	display: flex;
	flex-direction: column;
}

.header-tools {
	min-height: 42px;
	display: flex;
}

.header-logo {
	margin-left: 130px;
	width: 220px;
}

#search {
	min-width: 270px;
}

.bookmarks,
.cart,
.order {
	min-width: 150px;
}
/*header-center*/
.header-center {
	display: flex;
	justify-content: space-between;
	min-height: 158px;
}

.header-description {
	padding-left: 55px;
	margin-left: 130px;
	width: 300px;
	align-self: center;
}

.header-contacts {
	width: 270px;
	align-self: center;
}

.header-contacts,
.log-reg {
	display: flex;
	flex-wrap: wrap;
}

.header-tel {
	width: 270px;
}

.log-reg {
	width: 300px;
	align-self: center;
	margin-right: 130px;
}

.log-in {
	width: 130px;
}

.registration {
	width: 150px;

}

/*header-bottom*/ 
.navigation {
	margin-left: 130px;
	margin-right: 130px;
	min-width: 970px;
}

.header-menu {
	display: flex;
	justify-content: space-between;
	min-height: 55px;
}

.header-menu li {
	align-self: center;
}

/*main-services*/   

.main-services {
	display: flex;
	flex-wrap: wrap;
	margin-left: 130px;
	margin-right: 130px;
	justify-content: center;
}

.services-materials,
.services-instrument,
.services-technic,
.services-sale,
.services-delivery {
	width: 300px;
	height: 123px;
	margin-bottom: 20px;
}

.services-slider {   
	width: 620px;
	height: 266px;
	background-color: black;
	margin-right: 20px;
}

.services-materials,
.services-instrument {
	margin-right: 20px;
}

/*popular-products*/

.popular-products {
	display: flex;
	flex-wrap: wrap;
	margin-left: 130px;
	margin-right: 130px;
	justify-content: center;
	min-height: 427px;
}

.popular-products-header {
	min-width: 940px;
	height: 90px;
}

.product {
	width:220px;
	height:318px;
}

.product:not(:last-child) {
	margin-right: 20px;
}

/*popular-makers*/

.popular-makers {
	display: flex;
	flex-wrap: wrap;
	margin-left: 130px;
	margin-right: 130px;
	justify-content: center;
	min-height: 420px;
}

.popular-makers-header {
	min-width: 940px;
	height: 90px;
}

.popular-makers-list{
	margin-right: 20px;
}

.popular-makers-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.maker {
	margin-right: 20px;
	margin-top: 20px;
}

/*services*/

.services {
	display: flex;
	flex-wrap: wrap;
	margin-left: 130px;
	margin-right: 130px;
}

/*about-us*/

.about-us {
	display: flex;
	margin-left: 130px;
	justify-content: space-between;
}

.about-us-left {
	display: flex;
	flex-wrap: wrap;
	width: 550px;
}

.about-us-right {
	display: flex;
	flex-wrap: wrap;
}

.about-us-list {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

.main-footer {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.main-footer-top,
.main-footer-bottom {
	display: flex;
}

.footer-logo-link,
.footer-copyright {
	margin-left: 130px;
}

.footer-menu-top {
	display: flex;
}

.footer-menu-bottom {
	display: flex;
}

.footer-sozial {
	display: flex;
}

.footer-link {
	margin-right: 20px;
}

.footer-menus {
	align-self: center;
}


/*catalog-flex*/

/*top*/
.bread-crumbs {
	display: flex;
	margin-left: 130px;
	min-height: 60px;
}

.bread-crumbs-item {
	margin-right: 20px;
	align-self: center;
}

.catalog-title {
	height: 55px;
	min-width: 940px;
	display: flex;
	margin-left: 130px;
	margin-right: 130px;
	padding-left: 20px;
	padding-top: 35px;
	text-align: center;
}
/*main*/

/*filter*/
.catalog-main {
	display: flex;
	flex-wrap: wrap;
}

.main-info-catalog {
	display: flex;
	flex-direction: column;
}

.filter {
	display: flex;
	flex-direction: column;
}

.filter-title {
	height: 38px;
	width: 220px;
	display: flex;
	margin-left: 130px;
	padding-left: 20px;
}

.filter-form {
	width: 220px;
	margin-left: 130px;
}

.sorting {
	display: flex;
	flex-wrap: wrap;
	margin-left: 130px;
	margin-right: 130px;
}

.products {
	display: flex;
	flex-wrap: wrap;
	margin-left: 130px;
	margin-right: 130px;
	justify-content: center;
}

.sorting-item-list {
	display: flex;
	align-self: center;
}

.pagenator-list {
	display: flex;
}

.about-perforators-block {
	display: flex;
	flex-wrap: wrap;
}

.about-perforators-title {
	margin-left: 130px;
	margin-right: auto;
}

.about-perforators-text {
	margin-left: 130px;
	margin-right: 130px;
}